// Creation of a modular typescale : https://www.rawkblog.com/2018/05/modular-scale-typography-with-css-variables-and-sass/
@use "./variables" as variable;
@use "./fonts" as fonts;
$font-size: 100%; // 1rem = 16px
$ratio: 1.333;

/* Calculate values */
$h6: $font-size * $ratio; // 1.333 * 100% = 133.3% >>> 16px
$h5: $h6 * $ratio; // 1.333 * 133.3% = 166.7% >>> 20px
$h4: $h5 * $ratio; // 1.333 * 166.7% = 200% >>> 24px
$h3: $h4 * $ratio; // 1.333 * 200% = 233.3% >>> 28px
$h2: $h3 * $ratio; // 1.333 * 233.3% = 266.7% >>> 32px
$h1: $h2 * $ratio; // 1.333 * 266.7% = 300% >>> 36px

p {
  font-size: $font-size + 20; // 100% - 25% = 75% >>> 12px
  font-family: Walsheim;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

/* note the smaller sizes for mobile */
// Here, we are changing the sizes by using lower values on mobile
h4 {
  font-size: $h6;
  color: white;
}

h3 {
  font-size: $h5;
  color: white;
}

h2 {
  font-size: $h4;
  color: white;
}

h1 {
  font-size: $h3;
  color: white;
}

/* Bring everything up two steps for larger screens */
@media (min-width: 40em) {
  h4 {
    font-size: $h4;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: white;
  }

  h3 {
    font-size: $h3;
  }

  h2 {
    font-size: $h2;
    font-style: normal;
    font-weight: 300;
    line-height: 72px;
  }

  h1 {
    font-size: $h1;
    font-family: variable.$font--recoleta;
  }
}
