$duration: 1s;

.header {
  &h4 {
    margin-left: 30px;
  }
  & ul {
    display: flex !important;
    align-items: center;
    justify-content: space-between !important;
    transition: all 7.5s ease;
    li {
      position: relative;
      padding: 20px 40px;

      & a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  .dropdown {
    line-height: 2;
    padding: 20px;
    margin: 30px 0px;
    border-radius: 10px;
    -webkit-animation: slide $duration;
    animation: slide $duration;
  }
}

@keyframes slide {
  10% {
    transform: translate3d(-20%, 0, 0);
    opacity: 0.8;
  }
  55% {
    transform: translate3d(-8%, 0, 0);
    opacity: 0.95;
  }

  85% {
    transform: translate3d(-1%, 0, 0);
    opacity: 0.95;
  }

  100% {
    transform: translate3d(0%, 0, 0);
    opacity: 1;
  }
}

.menuInActive {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 160px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menuActive {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  // background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: -60px;
  width: 300px;
  height: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid red;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}
