.wrapper {
  max-width: 390px;
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
  &:hover {
    background: rgb(33, 33, 33);
    box-shadow: 2px -1px 22px 0px rgba(26, 180, 26, 0.75);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
}
